.Rproj.user
.Rhistory
.RData
.Ruserdata
11pdf1_plot_dat.pdf
Analyses.html
Boxplot_boscalid_comparison_between_experimental_replicates_by_isolate.pdf
Boxplot_picoxystrobin_comparison_between_experimental_replicates_by_isolate.pdf
Compendium.R
DDsurvey.R
Genetic Variation of Sclerotinia sclerotiorum from Multiple Crops in the North Central United States.pdf
Linear regression of boscalid 0.2 ppm.pdf
Linear regression of picoxystrobin 0.01 ppm.pdf
Linear regression of tetraconazole 2 ppm.pdf
Linear regression of thiophanate methyl 10 ppm.pdf
Plot_geom_jitter_N.R
TM_assumptions_linearmodel_each_dose.pdf
boscalid_assumptions_linearmodel_dosechoseasDD.pdf
boscalid_assumptions_linearmodel_dosechoseasDD_with_outlayers.pdf
boscalid_assumptions_linearmodel_each_dose.pdf
boscalid_serialdilution_baseline(validationdata).xlsx
combiningfungicides_outliersEC50DC.csv
compendium.xlsx
examplesofhistogram.R
goodapproach1.R
goodapproach2.R
goodapproach3.R
goodapproach4.R
newone.R
pdf1_plot_dat 9.58.25 PM.pdf
pdf1_plot_dat.pdf
pdf1_plot_dat_1 copy.pdf
pdf1_plot_dat_1.pdf
pdf2_plot_dat.pdf
pdf3_plot_country.pdf
pdf4_plot_crop.pdf
pdf5_plot_US..pdf
picoxystrobin_assumptions_linearmodel_dosechoseasDC.pdf
picoxystrobin_assumptions_linearmodel_dosechoseasDC_with_outlayers.pdf
picoxystrobin_assumptions_linearmodel_dosechoseasDD.pdf
picoxystrobin_assumptions_linearmodel_dosechoseasDD_with_outlayers.pdf
picoxystrobin_assumptions_linearmodel_each_dose.pdf
secondone.R
tetraconazole_assumptions_linearmodel_dosechoseasDC.pdf
tetraconazole_assumptions_linearmodel_dosechoseasDC_with_outlayers.pdf
tetraconazole_assumptions_linearmodel_dosechoseasDD.pdf
tetraconazole_assumptions_linearmodel_dosechoseasDD_with_outlayers.pdf
tetraconazole_assumptions_linearmodel_each_dose&Linear_regression_with_best_model.pdf
